.author {
  background-color: #f0f1e9;
  height: 100vh;
}

.author__container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding-top: 70px;
  gap: 130px;
  max-width: 1245px;
  margin: 0 auto;
}

.author__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.author__title {
  font-family: "Micra", sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 35px;
  line-height: 42px;
  color: #222;
  margin: 0;
}

.about__image {
  width: 100%;
  max-width: 642px;
  max-height: 386px;
  object-fit: cover;
  border-radius: 45px;
  padding-top: 20px;
}

.author__description {
  margin: 0;
  font-family: "Involve", sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #222;
}

.author__image {
  width: 100%;
  max-width: 508px;
  max-height: 567px;
  object-fit: cover;
  border-radius: 45px;
}
