.fragment {
  height: 100vh;
  background-color: #474f46;
  align-content: center;
  padding: 0 20px;
}

.fragment__container {
  max-width: 1245px;
  margin: 0 auto;
}

.fragment__title {
  font-family: "Micra", sans-serif;
  font-weight: normal;
  font-size: 35px;
  color: #f0f1e9;
  margin: 0;
  letter-spacing: 2px;
}

.fragment__image {
  max-width: 1000px;
  max-height: 470px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
