.container {
  margin: 60px;
}

.card__article {
  /* width: 450px; */
  border-radius: 40px;
}

.swiper-slide {
  border-radius: 40px;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-button-prev .swiper-button-next {
  border-radius: 50%;
  background-color: aquamarine;

  color: #000;
}

.card__data {
  background-color: #fff;
  padding: 40px;
  border-radius: 40px;
}

.card__name {
  font-size: 20px;
  font-family: "Micra", sans-serif;
  font-weight: normal;
  margin-top: 0;
}

.card__position {
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  opacity: 0.6;
  font-size: 17px;
}

.card_description {
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  margin-bottom: 0;
  font-size: 15px;
}
