.reviews /* wrapper */ {
  margin: 60px;
}

.reviews__title {
  font-family: "Micra", sans-serif;
  font-weight: normal;
  padding-top: 80px;
  font-size: 40px;
  color: #fff;
  margin-top: 0;
}

.reviews__container {
  position: relative;
}

.reviews__wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.reviews__wrapper::-webkit-scrollbar {
  display: none;
}

.cards /* carousel */ {
  scroll-snap-align: start;
  list-style: none;
  background: #f4f3f2;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 30px;
}

.scrolling {
  scroll-behavior: auto;
}

.dragging {
  cursor: grab;
  user-select: none;
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.cards__title {
  font-size: 25px;
  font-family: "Micra", sans-serif;
  font-weight: normal;
  margin-top: 0;
}

.cards__position {
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  opacity: 0.6;
  font-size: 17px;
}

.cards__description {
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  margin-bottom: 0;
  font-size: 15px;
}

.reviews i {
  height: 50px;
  width: 50px;
  background: #778d45;
  transition: 0.2s ease;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.reviews i:hover {
  background: #91a85c;
  transform: translateY(-50%) scale(1.1);
}

.reviews i:first-child {
  left: -21px;
}

.reviews i:last-child {
  right: -18px;
}

@media screen and (max-width: 1200px) {
  .reviews__wrapper {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 800px) {
  .reviews__wrapper {
    grid-auto-columns: 100%;
  }
}
