.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: no-repeat url(../../images/background.jpg) center;
  background-size: cover;
  height: 100vh;
}

.header__container {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
  max-width: 1245px;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__name {
  color: #fff;
  font-family: "Micra", sans-serif;
  font-size: 35px;
  line-height: 42px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 20px;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.25));
}

.header__title {
  color: #fff;
  font-family: "Micra", sans-serif;
  font-size: 120px;
  line-height: 144px;
  font-weight: normal;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.25));
  letter-spacing: 1px;
  margin: 0;
}

.header__description {
  color: #fff;
  font-family: "Micra", sans-serif;
  font-size: 23px;
  text-align: center;
  line-height: 27px;
  font-weight: normal;
  letter-spacing: 1px;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.25));
}

.header__button {
  background-color: rgba(216, 216, 216, 0.25);
  padding: 22px 24px;
  margin-top: 20px;
  border: 3px solid rgb(216, 216, 216, 0.25);
  border-radius: 17px;
  color: #fff;
  font-family: "Micra", sans-serif;
  font-size: 23px;
  cursor: pointer;
  box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}

.header__button:hover {
  background-color: rgba(216, 216, 216, 0.5);
}

.header__book {
  background-size: cover;
  filter: drop-shadow(-20px 20px 5px rgba(0, 0, 0, 0.6));
  max-width: 485px;
  max-height: 439px;
  object-fit: cover;
}
