.footer {
  background-color: #474f46;
  height: 35vh;
  align-content: center;
}

.footer__container {
  max-width: 1245px;
  margin: 0 auto;
}

.footer__title {
  font-family: "Micra", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #f0f1e9;
  margin: 0;
  letter-spacing: 2px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding-top: 30px;
}

.footer__name {
  font-family: "Micra", sans-serif;
  font-weight: normal;
  font-size: 21px;
  color: #f0f1e9;
  margin: 0;
}

.footer__text {
  font-family: "Involve", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #f0f1e9;
  margin: 0;
}

.footer__list {
  font-family: "Involve", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #f0f1e9;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  gap: 20px;
}

.footer__info {
  font-family: "Involve", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #f0f1e9;
  margin: 0;
}
